body {
    margin: 0;
    font-family: "PT Serif", sans-serif;
    background-color: #05050c;
    color: white;
    text-align: center;
}

code {
    background-color: #334155;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

hr {
    max-width: 85ch;
}

header {
    margin-top: 1em;
}

header h1 {
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 4px;
}

path {
    fill: white;
}

svg {
    margin-top: 8px;
}

#container3D canvas {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: auto;
    display: block;
    top: 0;
    left: 0;
}

.bio-about {
    margin: 0 auto;
    align-items: center;
    text-align: left;
    max-width: 85ch;
}

.bio-about h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bio-about h3 {
    margin-bottom: 15px;
}

.bio-index {
    margin: 0 auto;
    align-items: center;
    max-width: 65ch;
}

.responsive-gallery {
    padding: 0 6px;
    flex: 0 0 0%;
}

@media only screen and (max-width: 700px) {
    .responsive-gallery {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive-gallery {
        width: 100%;
    }
}

.gallery {
    max-width: 85ch;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery * {
    box-sizing: border-box;
}

.gallery .desc {
    font-weight: bolder;
    text-align: center;
    max-width: 15ch;
    margin: auto;
}

.img-border {
    border: 1px solid #ffffff;
}

.img-border:hover {
    border: 2px solid #ffffff;
}

.main-menu {
    list-style-type: none;
    margin: 0 auto;
    max-width: 105ch;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: "PT Serif", sans-serif;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-menu li a.active {
    animation: glow 1s ease-in-out infinite alternate;
}

.main-menu .float-right {
    padding: 0px;
}

.main-menu .float-right svg path {
    fill: white;
}

.main-menu .float-right:hover svg path {
    filter: drop-shadow(0 0 10px rgba(77, 190, 255, 0.702));
}

.background-info {
    background: hsla(0, 0%, 0%, 0.9); 
    width: 100%;
    height: 100%; 
    z-index: 10;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100vh; /* Ensures the body takes up full viewport height */
    position: fixed; 
    margin: 0 auto;
}

.background-info .content {
    max-width: 568px;
    width: 35%;
    background: rgb(31 35 49);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

.background-info h1 {
    text-align: left;
}

.background-info h4 {
    text-align: left;
}

a {
    color: white;
}

a:visited {
  color: inherit; /* Or any other desired color */
}

.background-info .linkurl {
    text-align: center;
    font-weight: bold;
    background-color: #0092e6;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2px;
    text-transform: uppercase;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@keyframes imghover {
    from {
        border: 2px solid #ffffff;
    }

    to {
        border: 1px solid #ffffff;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #0092e6, 0 0 3px #0092e6, 0 0 4px #0092e6, 0 0 5px #0092e6, 0 0 6px #0092e6;
    }
    
    to {
        text-shadow: 0 0 2px #fff, 0 0 2px #4dbeff, 0 0 2px #4dbeff, 0 0 3px #4dbeff, 0 0 4px #4dbeff, 0 0 5px #4dbeff, 0 0 6px #4dbeff;
    }
}